In [ ]:
!gdown --id 1R2QU_6rB_AYqZKt_0EDhtDuyrEdI_SAK

The first step is to download the dataset from google drive.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Importing required libraries.

In [ ]:
#Read File
dataSet = pd.read_csv("SalaryDataSet.csv")

By using pandas, we load and read the dataset

In [ ]:
#Showing DataSet 
dataSet

Showing dataset and reviewing the datas.

We were asked to add two columns of our choice. I added one column for the co untry and one column for marital status. For adding columns we have several ways, which I chose insert and assign.

In [ ]:
#Adding Columns 
#country_list = ["Iran", "US", "UK", "Germany", "Belguim", "Austria", "France", "Italy", "Spain", "Finland", "Denmark", "Sweden", "Norway"]
dataSet.insert(6, "Country", np.nan , True)
dataSet.iloc[0:10, -1]  = "Iran"
dataSet.iloc[10:20, -1] = "US"
dataSet.iloc[20:30, -1] = "UK"
dataSet.iloc[30:40, -1] = "Germany"
dataSet.iloc[40:50, -1] = "Belguim"
dataSet.iloc[50:60, -1] = "Austria"
dataSet.iloc[60:70, -1] = "France"
dataSet.iloc[70:80, -1] = "Italy"
dataSet.iloc[80:90, -1] = "Spain"
dataSet.iloc[90:100, -1] = "Finland"
dataSet.iloc[100:110, -1] = "Denmark"
dataSet.iloc[110:120, -1] = "Sweden"
dataSet.iloc[120:130, -1] = "Norway"

Now, By using iloc, I gave the values for each person in the dataset.

In [ ]:
dataSet

In [ ]:
dataSet = dataSet.assign(Married = np.nan)
dataSet.iloc[0:75,-1] = "YES"
dataSet.iloc[75:130,-1] = "No"

In [ ]:
dataSet

In [ ]:
#40 percent null for Country
dataSet.iloc[20:73, -2] = np.nan

For the first column, 40 percent of the entries must be null (0.4 * 130 = 52). I chose random indexes (20 to 72) to be null.

In [ ]:
dataSet

In [ ]:
#60 percent null for Married
dataSet.iloc[30:109, -1] = np.nan

For the second column, 60 percent of entries (0.6 * 130 = 78) must be null. I chose indexes from 30 to 108 to be null.

In [ ]:
dataSet

In [ ]:
#removing more than 50 percent null 
threshold = 0.5
dataSet = dataSet[dataSet.columns[dataSet.isnull().mean() < threshold]]

Now, we need to remove the columns which have more 50 percent null. In our case just the last column (Marital Status- Marriage) is dropped because 60 percent of its values are null.

In [ ]:
dataSet

In [ ]:
#removing more than 80 percent null 
threshold = 0.8
dataSet = dataSet[dataSet.columns[dataSet.isnull().mean() < threshold]]

Now we should remove columns which its null values are more than 80 percent. In this case, none of the columns are dropped.

In [ ]:
dataSet

Now, we should drop the rows with null values more than 30 percent. Here 44 rows are dropped.

In [ ]:
threshold = 0.3 
dataSet = dataSet.loc[dataSet.isnull().mean(axis=1) < threshold]

In [ ]:
dataSet

In [ ]:
dataSet = dataSet.fillna(dataSet.median())

We fill the remaining null values (numerical columns) in the dataset by using fillna. For filling it, median of items are considered.

In [ ]:
dataSet

In [ ]:
dataSet['Gender'].fillna(dataSet['Gender'].value_counts().idxmax(), inplace=True)

For filling non-numerical columns, by using the maximum value, we replaced the null values.

In [ ]:
dataSet.info()

In [ ]:
dataSet['Education'].fillna(dataSet['Education'].value_counts().idxmax(), inplace=True)

In [ ]:
dataSet['Country'].fillna(dataSet['Country'].value_counts().idxmax(), inplace=True)

In [ ]:
dataSet.info()

In [ ]:
dataSet['Gender'] = dataSet['Gender'].replace('F ', 'F')
dataSet['Gender'].unique()
dataSet['Education'].unique()
dataSet['Field'].unique()
dataSet['Country'].unique()

In [ ]:
#removing wrong inputs --> outliers 
factor = 2 
upper_limit = dataSet['Age'].mean() + dataSet['Age'].std() * factor
lower_limit = dataSet['Age'].mean() - dataSet['Age'].std() * factor
dataSet = dataSet[(dataSet['Age'] < upper_limit) & (dataSet['Age'] > lower_limit)]

upper_limit = dataSet['Work Experience'].mean() + dataSet['Work Experience'].std() * factor
lower_limit = dataSet['Work Experience'].mean() - dataSet['Work Experience'].std() * factor
dataSet = dataSet[(dataSet['Work Experience'] < upper_limit) & (dataSet['Work Experience'] > lower_limit)]

upper_limit = dataSet['Salary'].mean() + dataSet['Salary'].std() * factor
lower_limit = dataSet['Salary'].mean() - dataSet['Salary'].std() * factor
dataSet = dataSet[(dataSet['Salary'] < upper_limit) & (dataSet['Salary'] > lower_limit)]

We classify each feature into groups.

In [ ]:
ageList = []
for i in dataSet['Age']:
  if i < 30:
        ageList.append('26-30')
  elif i < 40:
        ageList.append('30-40')
  elif i < 50:
        ageList.append('40-50')
  elif i < 60:
        ageList.append('50-60')
  else:
        ageList.append('60-70')
dataSet['Age'] = ageList

In [ ]:
salaryList = []
for i in dataSet['Salary']:
  if i < 50:
    salaryList.append('10-50')
  elif i < 100:
    salaryList.append('50-100')
  elif i < 150:
    salaryList.append('100-150')
  elif i < 200:
    salaryList.append('150-200')
  elif i < 250:
    salaryList.append('200-250')
  elif i < 300:
    salaryList.append('250-300')
  else:
    salaryList.append('300-400')
dataSet['Salary'] = salaryList

In [ ]:
workEList= []
for i in dataSet['Work Experience']:
    if i < 5:
        workEList.append('1-5')
    elif i < 10:
        workEList.append('5-10')
    elif i < 15:
        workEList.append('10-15')
    elif i < 20:
        workEList.append('15-20')
    elif i < 25:
        workEList.append('20-25')
    elif i < 30:
        workEList.append('25-30')
    else:
        workEList.append('30-40')
dataSet['Work Experience'] = workEList

In [ ]:
from sklearn.model_selection import train_test_split
features = ['Education', 'Age', 'Work Experience', 'Field']
target = ['Salary']
X = dataSet[features]
Y = dataSet[target]
print(X)
print(Y)

Here we should encode them to integers. Decision Trees work with integers.

In [ ]:
from sklearn.preprocessing import LabelEncoder
le_Education = LabelEncoder()
le_Age = LabelEncoder()
le_Work_Experience = LabelEncoder()
le_Salary = LabelEncoder()
le_Field = LabelEncoder()
le_Country = LabelEncoder()
X['Education'] = le_Education.fit_transform(X['Education'])
X['Age'] = le_Age.fit_transform(X['Age'])
X['Work Experience'] = le_Work_Experience.fit_transform(X['Work Experience']) 
X['Field'] = le_Field.fit_transform(X['Field'])
Y['Salary'] = le_Salary.fit_transform(Y['Salary'])

In [ ]:
le_Education_mapping = dict(zip(le_Education.classes_, le_Education.transform(le_Education.classes_)))
print(le_Education_mapping)
le_Age_mapping = dict(zip(le_Age.classes_, le_Age.transform(le_Age.classes_)))
print(le_Age_mapping)
le_Work_Experience_mapping = dict(zip(le_Work_Experience.classes_, le_Work_Experience.transform(le_Work_Experience.classes_)))
print(le_Work_Experience_mapping)
le_Field_mapping = dict(zip(le_Field.classes_, le_Field.transform(le_Field.classes_)))
print(le_Field_mapping)
le_Salary_mapping = dict(zip(le_Salary.classes_, le_Salary.transform(le_Salary.classes_)))
print(le_Salary_mapping)

In [ ]:
!pip install GraphViz

In [ ]:
!pip install pydotplus

In [ ]:
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
import pydotplus
import matplotlib.pyplot as plt
import matplotlib.image as pltimg

For creating decision tree we devide the data into train and test datas. Then by using entropy and gini we fit the train data to classifier.

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.20, random_state=42)

In [ ]:
decision_tree = DecisionTreeClassifier(criterion = "entropy")
decision_tree.fit(X_train,Y_train)
d_tree = tree.export_graphviz(decision_tree, out_file = None)
graph = pydotplus.graph_from_dot_data(d_tree)
graph.write_png('graph.png')
img = pltimg.imread('graph.png')
imgplot = plt.imshow(img)
plt.show()

In [ ]:
y = decision_tree.predict(X_test)
print(Y_test)
print(y)

In [ ]:
decision_tree = DecisionTreeClassifier(criterion = "gini")
decision_tree.fit(X_train,Y_train)
d_tree = tree.export_graphviz(decision_tree, out_file = None)
graph = pydotplus.graph_from_dot_data(d_tree)
graph.write_png('graph1.png')
img = pltimg.imread('graph1.png')
imgplot = plt.imshow(img)
plt.show()

In [ ]:
y = decision_tree.predict(X_test)
print(Y_test)
print(y)

In [ ]:
features = ['Education', 'Age', 'Work Experience', 'Salary']
target = ['Field']
X = dataSet[features]
Y = dataSet[target]
print(X)
print(Y)

In [ ]:
from sklearn.preprocessing import LabelEncoder
le_Education = LabelEncoder()
le_Age = LabelEncoder()
le_Work_Experience = LabelEncoder()
le_Salary = LabelEncoder()
le_Field = LabelEncoder()
le_Country = LabelEncoder()
X['Education'] = le_Education.fit_transform(X['Education'])
X['Age'] = le_Age.fit_transform(X['Age'])
X['Work Experience'] = le_Work_Experience.fit_transform(X['Work Experience']) 
X['Salary'] = le_Salary.fit_transform(X['Salary'])
Y['Field'] = le_Field.fit_transform(Y['Field'])

In [ ]:
le_Education_mapping = dict(zip(le_Education.classes_, le_Education.transform(le_Education.classes_)))
print(le_Education_mapping)
le_Age_mapping = dict(zip(le_Age.classes_, le_Age.transform(le_Age.classes_)))
print(le_Age_mapping)
le_Work_Experience_mapping = dict(zip(le_Work_Experience.classes_, le_Work_Experience.transform(le_Work_Experience.classes_)))
print(le_Work_Experience_mapping)
le_Salary_mapping = dict(zip(le_Salary.classes_, le_Salary.transform(le_Salary.classes_)))
print(le_Salary_mapping)
le_Field_mapping = dict(zip(le_Field.classes_, le_Field.transform(le_Field.classes_)))
print(le_Field_mapping)

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.20, random_state=42)

In [ ]:
decision_tree = DecisionTreeClassifier(criterion = "entropy")
decision_tree.fit(X_train,Y_train)
d_tree = tree.export_graphviz(decision_tree, out_file = None)
graph = pydotplus.graph_from_dot_data(d_tree)
graph.write_png('graph2.png')
img = pltimg.imread('graph2.png')
imgplot = plt.imshow(img)
plt.show()

In [ ]:
y = decision_tree.predict(X_test)
print(Y_test)
print(y)

In [ ]:
decision_tree = DecisionTreeClassifier(criterion = "gini")
decision_tree.fit(X_train,Y_train)
d_tree = tree.export_graphviz(decision_tree, out_file = None)
graph = pydotplus.graph_from_dot_data(d_tree)
graph.write_png('graph3.png')
img = pltimg.imread('graph3.png')
imgplot = plt.imshow(img)
plt.show()

In [ ]:
y = decision_tree.predict(X_test)
print(Y_test)
print(y)

In [ ]:
#KNN
from sklearn.neighbors import KNeighborsClassifier

KNN

In [ ]:
Knn_Classifier = KNeighborsClassifier(n_neighbors=3)
Knn_Classifier.fit(X_train, Y_train)
Knn_Classifier.score(X_test, Y_test)

In [ ]:
y_predict = clf.predict(X_test)
ConfusionMatrixDisplay.from_predictions(y_test, y_predict)

In [ ]:
path = clf.cost_complexity_pruning_path(X_train, y_train)
ccp_alphas = path.ccp_alphas
ccp_alphas = ccp_alphas[:-1]

alpha_loop_values = []
for ccp_alpha in ccp_alphas:
    clf = DecisionTreeClassifier(criterion='gini', random_state=0, ccp_alpha=ccp_alpha)
    scores = cross_val_score(clf, X_train, y_train)
    alpha_loop_values.append([ccp_alpha, np.mean(scores), np.std(scores)])

In [ ]:
alpha_results = pd.DataFrame(alpha_loop_values, columns=['alpha', 'mean_acc', 'std'])
alpha_results.plot(x='alpha',
                   y='mean_acc',
                   yerr='std',
                   marker='o',
                   linestyle='--')

In [ ]:
alpha_results

In [ ]:
ideal_ccp_alpha = 0.012712

In [ ]:
clf_pruned = DecisionTreeClassifier(criterion='gini', random_state=42, ccp_alpha=ideal_ccp_alpha)
clf_pruned = clf_pruned.fit(X_train, y_train)

y_predict = clf_pruned.predict(X_test)
ConfusionMatrixDisplay.from_predictions(y_test, y_predict)

In [ ]:
dtree = tree.export_graphviz(clf_pruned, out_file=None, feature_names=features)
graph = pydotplus.graph_from_dot_data(dtree)
if graph.write_png('SalaryPrunedTree.png'):
    print('Tree is saved as png file.')

In [ ]:
new_values = [[0, 0, 6, 1], [1, 4, 1, 3]]
new = pd.DataFrame(new_values, columns=['Education', 'Age', 'Work Experience', 'Field'])
new_predict = clf_pruned.predict(new)
new_predict

In [ ]:
features = ['Gender', 'Age', 'Salary']
target = ['Field']

X = dataset[features]
y = dataset[target]

In [ ]:
le_gender = LabelEncoder()
le_age = LabelEncoder()
le_salary = LabelEncoder()
le_field = LabelEncoder()

pd.options.mode.chained_assignment = None
X['Gender'] = le_gender.fit_transform(X['Gender'])
X['Age'] = le_age.fit_transform(X['Age'])
X['Salary'] = le_salary.fit_transform(X['Salary'])
y['Field'] = le_field.fit_transform(y['Field'])

In [ ]:
print(dict(zip(le_gender.classes_, le_gender.transform(le_gender.classes_))))
print(dict(zip(le_age.classes_, le_age.transform(le_age.classes_))))
print(dict(zip(le_salary.classes_, le_salary.transform(le_salary.classes_))))
print(dict(zip(le_field.classes_, le_field.transform(le_field.classes_))))

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [ ]:
clf = DecisionTreeClassifier(criterion='gini', random_state=42)
clf = clf.fit(X_train, y_train)

dtree = tree.export_graphviz(clf, out_file=None, feature_names=features)
graph = pydotplus.graph_from_dot_data(dtree)
if graph.write_png('FieldTree.png'):
    print('Tree is saved as png file.')

In [ ]:
y_predict = clf.predict(X_test)
ConfusionMatrixDisplay.from_predictions(y_test, y_predict, display_labels=le_field.classes_)

In [ ]:
path = clf.cost_complexity_pruning_path(X_train, y_train)
ccp_alphas = path.ccp_alphas
ccp_alphas = ccp_alphas[:-1]

alpha_loop_values = []
for ccp_alpha in ccp_alphas:
    clf = DecisionTreeClassifier(criterion='gini', random_state=0, ccp_alpha=ccp_alpha)
    scores = cross_val_score(clf, X_train, y_train)
    alpha_loop_values.append([ccp_alpha, np.mean(scores), np.std(scores)])

In [ ]:
alpha_results = pd.DataFrame(alpha_loop_values, columns=['alpha', 'mean_acc', 'std'])
alpha_results.plot(x='alpha',
                   y='mean_acc',
                   yerr='std',
                   marker='o',
                   linestyle='--')

In [ ]:
ideal_ccp_alpha = 0.024910

In [ ]:
clf_pruned = DecisionTreeClassifier(criterion='gini', random_state=42, ccp_alpha=ideal_ccp_alpha)
clf_pruned = clf_pruned.fit(X_train, y_train)

y_predict = clf_pruned.predict(X_test)
ConfusionMatrixDisplay.from_predictions(y_test, y_predict)

In [ ]:
dtree = tree.export_graphviz(clf_pruned, out_file=None, feature_names=features)
graph = pydotplus.graph_from_dot_data(dtree)
if graph.write_png('FieldPrunedTree.png'):
    print('Tree is saved as png file.')

In [ ]:
new_values = [[1, 6, 4], [0, 7, 1]]
new = pd.DataFrame(new_values, columns=['Gender', 'Age', 'Salary'])
new_predict = clf_pruned.predict(new)
new_predict